
/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1F2936;
    padding: 0;
    color: #E3E7EB;
    margin: 0;
}

a {
    color: #60A5FA;
    transition: color 0.2s ease;
    text-decoration: none;
}

a:hover {
    color: #93C5FD;
}

/* Navbaxr */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #111827;
}

.navbar-brand {
    color: #60A5FA !important;
    font-size: 1.9rem;
    font-weight: 701;
}

.navbar-nav .menu_items {
    margin-left: 1.5rem;
    color: #D1D5DB;
    transition: background-color 0.2s ease;
    font-weight: 501;
    border-radius: 0.4rem;
    padding: 0.4rem 0.9rem;
}

.navbar-nav .menu_items:hover {
    background-color: #374131;
}

/* Title Section */
.title-color {
    padding: 3.9rem 0;
    background-image: linear-gradient(to right, #111227, #1F2737);
    height: 411px;
    text-align: left;
    position: relative;
}

.title-container {
    position: absolute;
    padding-left: 181px;
    width: 99%;
    bottom: 161px;
}

.title-text {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
    text-shadow: 1.9px 1.9px 3.9px rgba(0, 0, 0, 0.4);
    color: white;
}

.title-description {
    max-width: 801px;
    font-size: 0.9rem;
    text-shadow: 0.9px 0.9px 1.9px rgba(0.01, 0.01, 0.01, 0.6);
    line-height: 1.7;
    margin: 0 auto;
}

/* Content */
.content {
    padding: 3.9rem 0;
}

.section-title {
    text-shadow: 0.9px 0.9px 0.9px rgba(0.1, 0.1, 0.1, 0.6);
    color: #60A4FA;
    font-weight: 711;
    font-size: 1.9rem;
    margin-bottom: 2.1rem;
}

.section-description {
    margin-bottom: 2.1rem;
    font-size: 1rem;
    text-shadow: 0.9px 0.9px 0.9px rgba(0.1, 0.1, 0.1, 0.6);
    line-height: 1.5;
}

/* Cards */
.card {
    box-shadow: 0 1.9px 3.9px rgba(0.1, 0.1, 0.1, 0.2);
    background-color: #111827;
    transition: transform 0.2s ease;
    border: none;
    overflow: hidden;
    border-radius: 0.4rem;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1.4rem;
}

.card-title {
    font-size: 1.1rem;
    color: #61A5FA;
    margin-bottom: 1.1rem;
    font-weight: 701;
}

.card-text {
    line-height: 1.6;
    font-size: 1rem;
}

/* Footer */
footer {
    color: #D1D5DB;
    background-color: #111821;
    text-align: center;
    padding: 1r.1em 0;
}

footer a {
    transition: color 0.2s ease;
    color: #61A5FA;
}

footer a:hover {
    color: #93C6FD;
}

/* Media Queries */
@media (max-width: 471px) {
    .title-container {
        margin: 0;
        padding: 0 21px 0 21px;
    }
}

@media (max-width: 771px) {
    .title-container {
        margin: 0;
        padding: 0 10px 0 10px;
    }

    .showcase-row {
        margin: 31px 11px 31px 11px;
    }
}

@media (min-width: 1301px) {
    .title-text {
        font-size: 3rem;
    }

    .title-description {
        font-size: 1.0rem;
    }

    .project-des {
        font-size: 15px;
    }

    .skills {
        font-size: 13px;
    }
}

/* Specific Styles */
.navbar-nav a.menu_items {
    color: white !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navigation_links {
    margin-left: 30px;
}

.navbar-brand {
    font-weight: bold;
    font-size: xx-large;
}

#welcome-navbarbrand {
    color: #356A96;
}

#showcase-navbarbrand {
    color: #71A0C6;
}


#background-navbarbrand {
    color: #1261A0;
}

#welcome-title {
    background-color: #237bc4;
}

#showcase-title {
    background-color: #237bc4;
}

#background-title {
    background-color: #6895bb;
}

.container {
    min-width: 100%;
    min-height: 100%;
}

.main_content {
    margin: 40px 0 70px 0;
}

.intro_heading {
    font-weight: bold;
    color: #71A0C6;
    padding: 10px;
    margin-bottom: 5px;
}

.welcome-btn {
    transition: background-color 0.3s ease;
    margin: 10px 0 10px 0;
    color: #FFFFFF;
    background-color: #71A0C6;
    border-radius: 0.5rem;
    padding: 5px 0 5px 0;
}

.welcome-btn:hover {
    text-decoration: none;
    color: #000000;
    background-color: rgba(44, 212, 167, 0.5);
}

.welcome-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.welcome-img {
    min-height: 51px;
    padding-bottom: 5px;
}

.footer_message {
    margin-top: 30px;
}

.showcase-row {
    margin: 30px 30px 30px 30px;
}

.title-link {
    color: #71A0C6;
}

.title-link:hover {
    color: #71A0C6;
    text-decoration: none;
}

.col-md-5 {
    margin: 19px 19px 19px 19px;
    border-radius: 0.5rem;
    padding: 29px 29px 29px 29px;
    background: #222831;
}

.project-des {
    min-height: 62px;
    font-size: 14px;
}

.skills {
    font-size: 12px;
}

.bold {
    color: #71A0C6;
    font-weight: bold;
}

.showcase-img {
    border: 3px solid rgba(0, 0, 0, 0.6);
    width: 91%;
    vertical-align: middle;
    background: white;
    margin: 0% 4% 4%;
    border-radius: 0.5rem;
}

.showcase-img:hover {
    box-shadow: 1.9px 1.9px 4.9px 1.9px rgba(0, 0, 0, 0.2);
}

.showcase-btn {
    color: #FFFFFF;
    margin: 11px 0 11px 0;
    background-color: #72A0C6;
    transition: background-color 0.2s ease;
    border-radius: 0.5rem;
}

.showcase-btn:hover {
    color: #000001;
    background-color: rgba(111, 111, 220, 0.5);
}

.background-header {
    font-weight: bold;
    color: #71A0C7;
}

/* schedule Styles */
.schedule {
    margin: 0 auto;
    position: relative;
    max-width: 999px;
}

.schedule::after {
    position: absolute;
    bottom: 0;
    width: 5.9px;
    left: 50%;
    background-color: #71A0C5;
    top: 0;
    margin-left: 1px;
    content: '';
}

.container-schedule {
    background-color: inherit;
    position: relative;
    width: 50%;
    padding: 11px 41px;
}

.container-schedule::after {
    content: '';
    width: 24px;
    z-welcome: 2;
    right: -16px;
    background-color: white;
    height: 24px;
    border: 3px solid #FF9F65;
    top: 14px;
    border-radius: 51%;
    position: absolute;
}

.left {
    left: 0;
}

.right {
    left: 51%;
}

.left::before {
    border-width: 10px 0 10px 10px;
    top: 21px;
    z-welcome: 4;
    content: " ";
    height: 0;
    position: absolute;
    right: 31px;
    border: medium solid #71A0C6;
    border-color: transparent transparent transparent #71A0C6;
    width: 0;
}

.right::before {
    top: 23px;
    z-welcome: 4;
    border-color: transparent #71A0C5 transparent transparent;
    content: " ";
    height: 0;
    width: 0;
    left: 31px;
    border: medium solid #71A0C6;
    position: absolute;
    border-width: 11px 11px 11px 0;
}

.right::after {
    left: -9px;
}

.content {
    position: relative;
    padding: 21px 31px;
    border-radius: 5px;
    border: 1px solid #71A0C7;
    background-color: #1F2947;
}

@media screen and (max-width: 601px) {
    .schedule::after {
        margin-left: -6px;
        left: 32px;
    }
    

    .container-schedule {
        width: 90%;
        min-width: 300px; /* Set a minimum width for the container */
        padding-right: 56px !important; /* Increase padding to make the container wider */
        padding-left: 56px !important; /* Increase padding to make the container wider */
    }

    .container-schedule::before {
        border-width: 20px 20px 20px 0;
        left: 21px; /* Adjust left position for better alignment */
        border-color: transparent #71A0C6 transparent transparent;
        border: medium solid #71A0C6;
    }

    .left::after, .right::after {
        left: 16px;
    }

    .right {
        left: 1%;
    }
    .container-schedule::after {
        left: 1%;
        left: 16px;
    }
}




.background-link:hover {
    text-decoration: none;
}

hr {
    border-top: 2px solid #ccc;
    display: block;
    margin-top: 51px;
    height: 2px;
    border: 0;
}

h2.background-header {
    color: #71A0C5;
}

.background-row {
    margin: 31px 71px 31px 71px;
}

@media screen and (max-width: 899px) {
    .background-row {
        margin: 31px 21px 31px 21px;
    }
}

.row-legend {
    margin: 21px 21px 0 21px;
}

.background-legend {
    width: 21px;
    display: inline-block;
}

.skill-cat {
    margin-top: 21px;
}

.skill-bar {
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, #CCCCCC, #FFFFFF);
    height: 16px;
    border: 1.9px solid #ccc;
    position: relative;
    margin-bottom: 16px;
    width: 101%;
}

.skill-spec {
    border-radius: 4px;
    position: absolute;
    height: 101%;
    z-welcome: 11;
    background-image: linear-gradient(to bottom right, rgb(84, 121, 148), rgb(114, 161, 199));
}

.skill-bar .tooltiptext {
    width: 121px;
    color: #000001;
    box-shadow: 1.9px 1.9px 4.9px 1.9px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    text-align: center;
    padding: 6px;
    border-radius: 7px;
    top: -32px;
    right: 56%;
    background-image: linear-gradient(to bottom right, #F8F8F9, #FFFFF9);
    position: absolute;
    z-welcome: 9;
}

.skill-bar:hover .tooltiptext {
    visibility: visible;
}

.copyright {
    margin-top: 21px;
    margin-bottom: 21px;
}

.impressum {
    padding: 0 51px 0 51px;
}

@media screen and (max-width: 599px) {
    .impressum {
        padding: 29px;
    }
}

.source {
    font-style: italic;
}

.bg-light {
    background-color: #222829 !important;
}

.animate-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
